@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 20px/1.6 "Pretendard", sans-serif;
    overflow-x: none;

    /* 텍스트 선택 및 드래그 금지 */
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* 표준 */
    -webkit-touch-callout: none; /* iOS */

    /* 기본 모드 (화이트) */
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

/* 다크 모드 */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode #header {
    background-color: #1f1f1f;
}

body.dark-mode #section-title {
    color: #fff;
}

/* 버튼 스타일 */
.theme-toggle {
    display: none;
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
}

header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#list-h1 {
    font-size: 20px;
    font-weight: 600;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav input[type="text"] {
    padding: 10px 20px;
    font-size: 16px;
}

#search-input {
    color: #000;
    background: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

#list-view {
    gap: 29px;
}

.section {
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

img {
    max-width: 100%;
    height: auto;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.inner {
    margin: 0 auto;
    width: 1000px;
}

.section-main {
    margin-top: 20px;
}
#book-list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#book-list li {
    border-radius: 10px;
    background: #151736;
    filter: blur(0.2px);
    box-shadow: inset 5px 5px 10px 5px rgba(255, 255, 255, 0.2);
    width: 120px;
    height: 120px;
}

#book-list > li > a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#section-title {
    color: #333;
}

.main-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    filter: blur(0.2px);
    box-shadow: inset 5px 5px 10px 10px rgba(255, 255, 255, 0.2);

    font: 16px/1.6 "Pretendard", sans-serif;
    color: #fff;
    background: #151736;
    border: none;
    border-radius: 10px;
}

/* 모달 스타일 */
.modal {
    display: none; /* 초기에는 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* 어두운 배경 */
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 100%;
    max-height: 100%;
    animation: fadeIn 0.3s;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .theme-toggle {
        display: block;
    }
    .inner {
        width: 85%;
    }
    #book-list li {
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 600px) {
    .inner {
        width: 100%;
    }
    #book-list li {
        font-size: 13px;
        width: 40px;
        height: 40px;
    }
    .header-box {
        gap: 25px;
        flex-wrap: wrap;
    }
    #list-view {
        display: flex;
        justify-content: space-between;
    }
    #search-input {
        padding: 5px 10px;
    }
}
