@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: "Shilla_CultureB-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 길교회폰트 */
.gilchurch {
  font: 16px/1.6 "Shilla_CultureB-Bold", sans-serif;
}

/* 공통 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 20px/1.6 "Pretendard", sans-serif;
  overflow-x: hidden;

  /* 텍스트 선택 및 드래그 금지 */
  user-select: none;
  -webkit-touch-callout: none;

  /* 기본 모드 (화이트) */
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 다크 모드 */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
body.dark-mode #header {
  background-color: #1f1f1f;
}
body.dark-mode #section-title {
  color: #ffffff;
}

/* 헤더 스타일 */
header {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#list-h1,
#section-title {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
}

#section-title {
  text-align: left;
}

#content-view {
  padding: 5px 0;
  background: #dee2e6;
}

/* 네비게이션 스타일 */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav input[type="text"],
#search-input {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: #fff;
  color: #000;
}

/* 섹션 및 리스트 스타일 */
.section {
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  margin: 10px 0;
}
ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#book-list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#book-list li {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(0, 55, 138), rgb(101, 179, 46));
  box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.5);
}
#book-list li a {
  font-weight: 700;
  font-size: 23px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.inner {
  background: #ff0;
  margin: 0 auto;
  width: 1200px;
}

/* main-box */
.main-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* section-main */
.section-main {
  margin-top: 20px;
}

/* 버튼 스타일 */
button {
  padding: 10px 20px;
  font: 16px/1.6 "Pretendard", sans-serif;
  color: #fff;
  background: #3cafff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s;
}
button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
button:hover {
  background-color: #91d700;
}

#next-button {
  background-color: #91d700;
}
#next-button:hover {
  background-color: #3cafff;
}

#back-to-list {
  background: linear-gradient(105deg, rgb(0, 55, 138), rgb(101, 179, 46));
  box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.5);
}

/* 다크 모드 버튼 */
#mode-toggle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
#mode-toggle:hover {
  background-color: #000000;
  color: #ffffff;
}

.dark-mode #mode-toggle {
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);

  background-color: #000;
  color: #fff;
}

.dark-mode #mode-toggle:hover {
  background-color: #fff;
  color: #000;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  justify-content: center;
  align-items: center;
}
.modal-content {
  max-width: 100%;
  max-height: 100%;
  animation: fadeIn 0.3s;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.making {
  text-align: right;
}

.making strong {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.info {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.slogan {
  text-align: center;
}

.slogan h1 {
  font-size: 20px;
  color: blue;
}

.slogan p {
  font-size: 15px;
}

#list-view {
  display: flex;
  gap: 10px;
}

#sub-header {
  background: #f8f9fa;
}
.sub-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.navigation {
  height: 40px;
  display: flex;
  gap: 25px;
}

.main-img {
  width: 200px;
  height: 100px;
  background: url(./img/gilchurch-logo.png) no-repeat 50% 50%;
  background-size: contain;
  text-align: left;
}
/* 반응형 스타일 */
@media (max-width: 900px) {
  .inner {
    width: 90%;
  }
  #book-list li {
    width: 80px;
    height: 80px;
  }
  .main-img {
    height: 80px;
  }
  #list-h1,
  #section-title {
    font-size: 25px;
  }
  nav input[type="text"],
  #search-input {
    padding: 10px 5px;
  }
  #search-button {
    padding: 5px 10px;
  }
}
@media (max-width: 600px) {
  #book-list li {
    width: 60px;
    height: 60px;
  }
  .header-box {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 0;
  }
  #search-input {
    padding: 10px 25px;
    font-size: 12px;
  }
  .main-img {
    height: 45px;
    flex-direction: column;
  }
  #list-h1,
  #section-title {
    font-size: 20px;
  }
  #search-button {
    padding: 5px 10px;
  }
  .making strong {
    font-size: 15px;
  }
  #book-list li a {
    font-size: 14.5px;
  }
  .slogan h1 {
    font-size: 15px;
  }
  .slogan p {
    font-size: 9.3px;
  }
}
